/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}
h1{

margin-top:55px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.products, .cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 2em;
    color: #333;
}

.loading::before {
    content: "";
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    border: 5px solid #333; /* Ajuste a cor conforme necessário */
    border-top: 5px solid transparent; /* Ajuste a cor conforme necessário */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.product, .cart-item {
    border: none;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover, .cart-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button {
    padding: 12px 20px;
    background-color: #ea1d2c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 24px;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #c41620;
    transform: scale(1.05);
}

#total {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
    color: #ea1d2c;
}

.add-product-form, .login-form {
    margin-bottom: 20px;
}

.add-product-form label, .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-product-form input, .login-form input, .add-product-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.add-product-form button, .login-form button {
    width: 100%;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close {
    color: #666;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos do ícone do carrinho */
.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2.5em;
    cursor: pointer;
    color: #ea1d2c;
}

#cartCount {
    background-color: #ffbc0d;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 5px;
}

.cart-item img, .product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}


.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.cart-icon {
    font-size: 2.5em;
    cursor: pointer;
    color: #ea1d2c;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e4002b;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.home-button i {
    margin-right: 5px;
}

.home-button:hover {
    background-color: #c20023;
    transform: translateY(-2px);
}
